---
import BaseHead from '../../components/BaseHead.astro';
import Nav from '../../components/Nav.astro';
import Header from '../../components/Header.astro';
import Aside from '../../components/Aside.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<style>
.entry-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 -10rem;
}

.entry {
  --card-box-shadow: none;
	
  padding: 8rem 10rem;
  border-radius: 6px;
  box-sizing: border-box;
  border-bottom: none;
  background: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h5 {
	color: var(--set-color-cyan);
  }

  &:hover {
	color: initial;
  }
}

time {
	font-family: var(--set-font-mono);
}

.excerpt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: balance;
}

h5 {
	text-wrap: pretty;
}

.entry:first-child {
  grid-column: 1 / -1; /* Span all columns */
}

.header h3 {
	text-wrap: pretty;
}

@media (max-width: 900px) {
  .entry-container {
    gap: 10px;
  }

  .entry:first-child {
    grid-column: 1 / -1; /* Ensure it spans all columns on smaller screens as well */
  }
}

@media (max-width: 600px) {
  .entry-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .entry:first-child {
    grid-column: 1 / -1; /* Ensure it spans all columns on very small screens as well */
  }
}
</style>

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="App">
			<div class="Layout">

				<div class="Masthead">
					<Header />
				</div>

				<main class="Main">
					<Nav />

					<header>
						<div class="p-y-5 m-b-2" style="background: url(/assets/product/images/blog-bw-2.jpg) 50% no-repeat; background-size: cover; border-radius: 6rem;">
							
							<h3 class="m-0 bsln-text--white" style="text-align: center;">My thoughts about things</h3>
			
						</div>
					</header> 

					<!-- <img src="/assets/product/images/blog-bw-2.jpg" style="height: auto; width: 100%; border-radius: 6rem;" class="m-b-2" alt="blog"> -->

					<!-- <h2 class="m-b-2">My thoughts about things</h2> -->

					<div class="entry-container">
		
						{
							posts.map((post) => (
								
								<a href={`/blog/${post.slug}/`} class="entry bsln-card">

									<div>	
									<p>
										<time class="font-size--xs">
											{new Date(post.data.pubDate).toLocaleDateString('en-us', {
												year: 'numeric',
												month: 'numeric',
												day: 'numeric',
											})}
										</time>	
									</p>

									<h5>{post.data.title}</h5>
									</div>

									<div><p class="excerpt">{post.data.description}</p></div>
									
								</a>
							))
						}
						
					</div>

				</main>
				
				<div class="Aside">
					
					<Aside />

				</div>

			</div>

		<Footer />

		</div>

			<!-- 

			<div class="blog-legend-container">
				<div class="container">
					<div class="blog-legend">
						<div class="blog-legend__type">
							<img src="/assets/product/images/blog/blog-dev.svg" class="no-margin" alt="dev icon"/>
							<p>Dev</p>
						</div>
		
						<div class="blog-legend__type">
							<img src="/assets/product/images/blog/blog-design.svg" class="no-margin" alt="design icon"/>
							<p>Design</p>
						</div>
		
						<div class="blog-legend__type">
							<img src="/assets/product/images/blog/blog-self.svg" class="no-margin" alt="self icon"/>
							<p>Self</p>
						</div>
		
						<div class="blog-legend__type">
							<img src="/assets/product/images/blog/blog-illu.svg" class="no-margin" alt="illu icon"/>
							<p>Illu</p>
						</div>
					</div>
				</div>
			</div>-->


	</body>
</html>
