---
const allPosts = await Astro.glob('../pages/blog/*.md');
const { title, url } = Astro.props;
---

<!-- <div class="landing-blog__entry">
    <a href="/en/blog/2020" title="Premonition 2020" class="landing-blog-entry-card">
        <span class="landing-blog-entry-card__date">07/10/2021</span>
        <h5 class="landing-blog-entry-card__title">Premonition 2020</h5>
    </a>
</div> -->

<!-- <li><a href={url}>{title}</a></li>-->

<!-- {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)} -->

<!-- {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)} -->
