---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Aside from '../components/Aside.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, author, tags, thumbnail, background } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={background || undefined} />

<style>
	/* .entry-header {
		margin-bottom: 2em;
	} */

	.entry-header__hero {
		padding: 5em 0;
		border-radius: 6rem;
		margin-bottom: 1em;
		background-size: cover;
	}

	.post__content {
		p {
			margin-bottom: 1em;
		}

		h2 {
			--heading-underline-color: var(--set-color-base-inverse);
			position: relative;
			margin-bottom: 26rem;

			&::after {
				content: "";
				display: block;
				width: 60rem;
				height: 6rem;
				background: var(--heading-underline-color);
				position: absolute;
				left: 0;
				bottom: -10rem;
			}
		}
	}

	.post__meta {
		font-family: var(--set-font-mono);
		margin-bottom: 10rem;
	}

	h1 {
		--heading-underline-color: var(--set-color-base-inverse);
		position: relative;
		margin-bottom: 26rem;

		&::after {
			content: "";
			display: block;
			width: 100rem;
			height: 6rem;
			background: var(--heading-underline-color);
			position: absolute;
			left: 0;
			bottom: -10rem;
		}
	}
</style>

	</head>

	<body>
		<main>

			<div class="App">
				<div class="Layout">
	
					<div class="Masthead">
						<Header />
					</div>
	
					<main class="Main">
						<Nav />
						
						<header class="entry-header">
							<div class="entry-header__hero" style={`background-image:url(${background})`}>
								
							</div>
						
							<h1>{title}</h2>
						</header>
			
						<div class="post">
							<section class="section">

								<div class="post__meta">
									<span class="post__meta-author">{author}</span> 
									<span class="post__meta-date">  
										<time>
											{new Date(pubDate).toLocaleDateString('en-us', {
												year: 'numeric',
												month: 'numeric',
												day: 'numeric',
											})}
										</time>	
									</span>
								</div>

								<div class="post__content">
									<slot />
								</div>
							
							</section>
						</div>
					
					</main>
				
					<div class="Aside">
					
						<Aside />
	
					</div>
	
				</div>
	
			<Footer />

		</div>
			
	</body>
</html>
