---
import BaseHead from "../components/BaseHead.astro";
import Nav from '../components/Nav.astro';
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		pubDate?: string;
		description: string;
		author?: string;
		tags?: string;
		thumbnail?: string;
		background?: string;
	};
}

const {
	content: { title, pubDate, description, author, tags, thumbnail, background },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.post-header-img {
                position: relative;
                height: 400px;
                width: 100%;
                margin-bottom: 1.5em;
            }
            /* .post-header-img::after {
                content: "";
                background: url(/en/blog/migrating-from-gulp-3-to-gulp-4/g3-g4-2.jpg);
                background-size: cover;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                border-radius: 4rem;
            } */
		</style>
	</head>

	<body>
		<Nav />
		<main>
			<header class="page-header">
				<div class="container padding-top-rem-3">
					<div class="post-header">
					
						<section class="section">
							<div>
								<h2 class="m-0">{title}</h2>
							</div>
						</section>
		
					</div>
				</div>
			</header>
			
			<div class="container container--reduced post">
				<section class="section">

					<div class="post__meta">
						{thumbnail && (
							<img
								// width={720}
								// height={360}
								src={thumbnail}
								alt="Post Hero Image"
								class="post__meta-thumbnail"
							/>
						)}

						<span class="post__meta-author">{author}</span> <span class="post__meta-date"> {pubDate}</span>
					</div>

					<div class="post-header-img"></div>

					<div class="post__content padding-left-2 padding-right-2 padding-top-1 padding-bottom-2">
						<slot />
					</div>
				
				</section>
			</div>
		
			<Footer />
		</main>
	</body>
</html>


<!-- <article>
	{heroImage && (
		<img
			width={720}
			height={360}
			src={heroImage}
			alt=""
		/>
	)}

	<slot />
</article> -->
