---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, author, tags, thumbnail, background } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={background || undefined} />
		<style>
			.post-header-img {
                position: relative;
                height: 400px;
                width: 100%;
                margin-bottom: 1.5em;
            }

			.post-header-img {
                background-size: cover;
                border-radius: 4rem;
            }

			.page-header {
				padding: 0;
			}

			.vds-card {
				background: rgb(16, 15, 15);
			}
		</style>
	</head>

	<body>
		<Nav />
		<main>
			<div class="post-header-img" style={`background-image:url(${background})`}></div>
			
			<header class="page-header">
				<div class="container padding-top-rem-3">
					<div class="post-header">
					
						<section class="section">
							<div>
								<h2 class="m-0">{title}</h2>
							</div>
						</section>
		
					</div>
				</div>
			</header>
			
			<div class="container container--reduced post">
				<section class="section">

					<div class="post__meta">

						<img src={`/assets/product/images/blog/blog-${thumbnail}.svg`} alt={thumbnail} class="post__meta-thumbnail"/>

						<span class="post__meta-author">{author}</span> 
						<span class="post__meta-date">  
							<time>
								{new Date(pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'numeric',
									day: 'numeric',
								})}
							</time>	
						</span>
					</div>

					<div class="post__content padding-left-2 padding-right-2 padding-top-1 padding-bottom-2">
						<slot />
					</div>
				
				</section>
			</div>
		
			<Footer />
		</main>
	</body>
</html>
